.v-application {
  font-family: $ubuntu;

  a {
    text-decoration: none;
  }

  .v-btn:not(.v-btn--round) {
    text-transform: none;
    border-radius: 10px;
  }

  .v-dialog {
    border-radius: 20px;
  }

  .v-input__slot {
    border-radius: 10px;
  }
}
